h1{
    border: 1px solid;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Monospace;
}

label{
    font-family: Monospace;
    text-align: left;
}

#label_female{
    margin-left: 25px;
}

#rem{
    font-family:Sans-Serif;
}

body{
    background: linear-gradient(to bottom,lightgreen,white);
}